<?xml version="1.0"?>
<launch>
  <!-- First camera -->
  <group ns="cam1">
      <include file="$(find camera_capture)/launch/camera_capture.launch">
          <arg name="camera_num"	value="0" />
      </include>
  </group>
 
  <!-- Second camera -->
  <group ns="cam2">
      <include file="$(find camera_capture)/launch/camera_capture.launch">
          <arg name="camera_num"	value="1" />
      </include>
  </group>
</launch>
